:root {
  --primary-bg-color: #ffffff;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --primary-bg-button: #4d5ae5;
  --secondary-bg-button: #404bbf;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
}
.section_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}
.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio {
  margin-right: 76px;
  color: var(--primary-text-color);
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
  color: var(--primary-text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu :hover,
.menu :focus {
  color: #404bbf;
}
.contact {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link {
  color: var(--secondary-text-color);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background: #2e2f42;
}
.hero-title {
  width: 496px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  background: var(--primary-bg-button);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background: var(--secondary-bg-button);
}
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.features-title {
  margin-bottom: 8px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-our-job {
  padding-bottom: 120px;
}
.our-job-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.our-job {
  margin-bottom: 72px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f4f4fd;
}
.our-team {
  margin-bottom: 72px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background: #f4f4fd;
}
.our-team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.list-img-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.our-team-title {
  margin-top: 32px;
  margin-bottom: 8px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.our-team-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 32px;
}
.footer-logo {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--primary-text-color);
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  width: 264px;
  margin-top: 16px;
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.filters {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filters-images-list {
  flex-basis: calc((100% - 48px) / 3);
}
.filters-images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.filters-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-bg-button);
}
.button-hover {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-hover:focus,
.button-hover:hover {
  background: var(--secondary-bg-button);
  color: #ffffff;
}

.filters-images-title {
  margin-top: 32px;
  margin-bottom: 8px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.filters-images-text {
  margin-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
