:root {
  --primary-bg-color: #ffffff;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --primary-bg-button: #4d5ae5;
  --secondary-bg-button: #404bbf;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio {
  color: var(--primary-text-color);
}
.menu {
  color: var(--primary-text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu :hover,
.menu :focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link {
  color: var(--secondary-text-color);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.hero {
  background: #2e2f42;
}
.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.button {
  background: var(--primary-bg-button);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
  background: var(--secondary-bg-button);
}

.features-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-job {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team {
  background: #f4f4fd;
}
.our-team {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background: #f4f4fd;
}
.list-img-team {
  background-color: #ffffff;
}
.our-team-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.our-team-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-logo {
  background: var(--primary-text-color);
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.filters-button {
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-bg-button);
}
.button-hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  color: #4d5ae5;
}
.button-hover:focus,
.button-hover:hover {
  background: var(--secondary-bg-button);
  color: #ffffff;
}

.filters-images-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.filters-images-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
